header {
    background-color: rgb(64, 124, 192);
    border: solid 1px black;
    margin-bottom: 5px;
}

.container-fluid{
margin-bottom: 20px;
}

h1 {
    font-size: 40px;
    font-family: cursive;
    color: white;
    padding: 5px;
    margin-top: 40px;
    margin-left: 85px;
}

h2 {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    margin-left: 100px;
}

.logo-img{
    padding: 10px;
}

.header-nav-item {
    display: inline-table;
    float: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.nav-link{
    color: white;
}